<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SCT_plot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54C07FA3F7614A3FBC050F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>650762FD7C0D4E32881ED7AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688A2EF5C01E4E958676D67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71F96A90C2A841389386DE9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE501D32D3C4B89A1489BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
